AppEnglish/Service References/EngServRef/EngService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1792/EngService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.Service" />
  <xs:import schemaLocation="http://localhost:1792/EngService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1792/EngService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pswd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="avatar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="level" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sub" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="img" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="absolute" type="xs:boolean" />
        <xs:element minOccurs="0" name="mark" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="created" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVideoResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="img" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="absolute" type="xs:boolean" />
        <xs:element minOccurs="0" name="mark" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="created" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBookResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAuthorResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="img" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWordResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGrammar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGrammarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGrammarResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWordsForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="word" type="xs:int" />
        <xs:element minOccurs="0" name="past" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plural" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pastTh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWordsFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWordsFormResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWordsTranscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="word" type="xs:int" />
        <xs:element minOccurs="0" name="british" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="canadian" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="american" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="australian" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWordsTranscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWordsTranscriptionResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="data" type="q1:ServerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDataResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWordsCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abbr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWordsCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWordsCategoryResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookmark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pos" type="xs:int" />
        <xs:element minOccurs="0" name="item" type="xs:int" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookmarkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVideoBookmark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pos" type="q2:duration" />
        <xs:element minOccurs="0" name="item" type="xs:int" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVideoBookmarkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemsWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="word" type="xs:int" />
        <xs:element minOccurs="0" name="item" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="type" type="q3:ServerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemsWordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
        <xs:element minOccurs="0" name="game" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="item" type="xs:int" />
        <xs:element minOccurs="0" name="cat" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="data" type="q4:ServerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
        <xs:element minOccurs="0" name="author" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookAuthorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="changes" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="data" type="q5:ServerData" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="property" type="q6:PropertyData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="usersId" type="xs:int" />
        <xs:element minOccurs="0" name="changes" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="data" type="q7:ServerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMarkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Upload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="type" type="q8:FilesType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Download">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="type" type="q9:FilesType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="type" type="q10:FilesType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="data" type="q11:ServerData" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="property" type="q12:PropertyData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetItemPropertyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="data" type="q13:ServerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMarkResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWordResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="data" type="q14:ServerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetItemsResult" nillable="true" type="q15:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="data" type="q16:ServerData" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="fil" type="q17:PropertyData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFItemsResult" nillable="true" type="q18:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortedItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="data" type="q19:ServerData" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="property" type="q20:PropertyData" />
        <xs:element minOccurs="0" name="desc" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortedItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSortedItemsResult" nillable="true" type="q21:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHighScores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="game" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHighScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetHighScoresResult" nillable="true" type="q22:ArrayOfKeyValueOfintint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserItemWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" type="xs:int" />
        <xs:element minOccurs="0" name="item" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="data" type="q23:ServerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserItemWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUserItemWordsResult" nillable="true" type="q24:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="data" type="q25:ServerData" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="res" type="q26:ServerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetItemDataResult" nillable="true" type="q27:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="type" type="q28:ServerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetItemsIdResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="item" type="xs:int" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="data" type="q29:ServerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastMarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastMarkResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="data" type="q30:ServerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckExistenceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAuthorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserPswd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pswd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserPswdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserPswdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAbsolute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="data" type="q31:ServerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAbsoluteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAbsoluteResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="data" type="q32:ServerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFullItemData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="data" type="q33:ServerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFullItemDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItemWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="item" type="xs:int" />
        <xs:element minOccurs="0" name="word" type="xs:int" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Server.Service" minOccurs="0" name="data" type="q34:ServerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItemWordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearResources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearResourcesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>